<h1>Listing sites</h1>

<table>
  <thead>
    <tr>
      <th>Base name</th>
      <th>Disp name</th>
      <th>Is home ssl</th>
      <th>Admin email</th>
      <th>Welcome</th>
      <th>About</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sites.each do |site| %>
      <tr>
        <td><%= site.base_name %></td>
        <td><%= site.disp_name %></td>
        <td><%= site.is_home_ssl %></td>
        <td><%= site.admin_email %></td>
        <td><%= site.welcome %></td>
        <td><%= site.about %></td>
        <% if signed_in? %>
        <td><%= link_to 'Show', site %></td>
        <td><%= link_to 'Edit', edit_site_path(site) %></td>
        <td><%= link_to 'Destroy', site, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if signed_in? %>
<%= link_to 'New Site', new_site_path %>
<% end %>
