<!DOCTYPE html>
<html>
<head>
  <title>platypus dot org</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="wrap">
  <div id="masthead">
  <!--
    <a href="/"><h1>platypus dot org</h1></a>
  -->
  <h1>platypus dot org</h1>
  </div>
  <div id="menucontainer">
    <div id="menu">
      <ul>
        <li><a href="/" class="<%= 'current' if params[:controller] == 'welcome' %>" >Home</a></li>
        <li><a href="/about_dave" class="<%= 'current' if params[:controller] == 'people' %>" >About Dave</a></li>
        <li><a href="/about_platypus" class="<%= 'current' if params[:controller] == 'sites' %>" >About platypus.org</a></li>
        <li><a href="/site_news" class="<%= 'current' if params[:controller] == 'news_items' %>" >Site News</a></li>
        <li><a href="/projects" class="<%= 'current' if params[:controller] == 'projects' %>" >Projects</a></li>
        <li><a href="http://poisonspur.com" class="<%= 'current' if params[:controller] == 'poisonspur' %>" >Poison Spur</a></li>
      </ul>
    </div>
  </div>
  <div id="container">
    <div id="sidebar">
      <%= image_tag "platlogo.jpg" %>
      <h3>Site News</h3>
      <% @recent_sitenews.each do |item| %>
            <li><a href="/site_news/<%=item['id'] %>"><%= item['body'] %></a></li>
        <% end %>
      <h3>Poison Spur</h3>
      <% @recent_poisonspur.each do |entry| %>
            <li><a href="<%= entry['url'] %>"><%= entry['title'] %></a></li>
        <% end %>
      </div>
<!--
      <form action="http://www.free-css.com/" method="post">
        <fieldset>
        <legend>Search</legend>
      <div> <span>
          <label for="txtsearch"> <img src="images/search.gif" alt="search" /> :search</label>
          </span> <span>
          <input type="text" value="demo only" name="txtsearch" title="Text input: search" id="txtsearch" size="25" />
          </span> </div>
        </fieldset>
      </form>
-->
    </div>

    <div id="content">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>


<%= yield %>
    </div>

  <div id="footer"> <!--<a href="/">homepage</a> | <a href="/contact">contact</a> | <a href="http://validator.w3.org/check?uri=referer">html</a> | <a href="http://jigsaw.w3.org/css-validator">css</a> | --> &copy; 2014 David Jennings |Design by <a href="http://www.mitchinson.net"> www.mitchinson.net</a><br/>
    This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 License</a> </div>
<p>
<% if signed_in? %>
    <%=link_to "logout", destroy_user_session_path, method: :delete  %>
<% else %>
    <%=link_to "login", new_user_session_path %>
<% end %>
</p>
</div>


</body>
</html>
